{{ domain }} {
	respond "hello world"
}

# redirects
nutcroft.com {
	redir https://nutcroft.mataroa.blog{uri} permanent
}
sirodoht.com {
	redir https://torchandzen.com{uri} permanent
}

# django
# :5001
import /etc/caddy/shoshincollege.caddy
# :5002
import /etc/caddy/schoolmemories.caddy

# html
import /etc/caddy/zfraenkel.caddy
