{{ domain }} {
	respond "hello world"
}

# redirects
nutcroft.com {
	redir https://nutcroft.mataroa.blog{uri} permanent
}
sirodoht.com {
	redir https://torchandzen.com{uri} permanent
}

# rust
# :4001
import /etc/caddy/yoapi.caddy
# :4002
import /etc/caddy/alaya.caddy
# :4003
import /etc/caddy/alcman.caddy

# django
# :5001
import /etc/caddy/shoshincollege.caddy
# :5002
import /etc/caddy/schoolmemories.caddy
# :5003
import /etc/caddy/srdce.caddy
# :5004
import /etc/caddy/chaitinschool.caddy

# html
import /etc/caddy/zfraenkel.caddy
import /etc/caddy/laniakea.caddy
