{{ domain }} {
	respond "hello world"
}

# django
# :5001
import /etc/caddy/shoshincollege.caddy
# :5002
import /etc/caddy/dukkha.caddy

# html
import /etc/caddy/sirodoht.caddy
import /etc/caddy/zfraenkel.caddy
